
.vo {
    
}

.pai {
  width: 100rem;
  height: 150rem;
  background-color:blueviolet;
  color: #ffffff;
 font-size: 50px;
}

.filho {
 width: 50%;
 height: 50%;
 background-color:darkcyan;
 color: #ffffff;
font-size: 50%;
}





/*UNIDADE DE MEDIDA 

----> ABSOLUTAS
    px (pixels) 1/100 polegadas
    in (inches / polegadas)
    cm / mm ( centímetro / milímetro)

----> RELATIVAS
    % -calcula o tamanho relativo ao elemento pai
   VW -(view width) 1vw é 1% da largura da janela do navegador 
   VH -(view height) 1 vh é 1% da altura da janela do navegador 
   em - é uma unidade relativa ao elemento pai
  rem - é uma unidade relativa ao elemento raiz 